---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import Model3 from "../components/Model-3.astro";
import ModelY from "../components/Model-y.astro";
import ModelS from "../components/Model-S.astro";
import ModelX from "../components/Model-X.astro";
---

<Layout title="Tesla Landing">
	<LandingHeader />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<Model3 />
		</div>
		<div class="snap-center">
			<ModelY />
		</div>
		<div class="snap-center">
			<ModelS />
		</div>
		<div class="snap-center">
			<ModelX />
		</div>
		<div class="snap-center">
			<Section
				color="black"
				title="Energía solar y Powerwall"
				subtitle="Totalmente eléctrico"
			>
				<div slot="footer">
					<a
						class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-20"
						href="#"
					>
						Mas información
					</a>
				</div>
				<img
					slot="background"
					src="/public/Powerwall.avif"
					alt=""
					class="object-cover h-screen w-screen"
				/>
			</Section>
		</div>
	</main>
</Layout>
