---
const { color } = Astro.props
import Section from "./Section.astro";
---
<Section
color="white"
title="Experimenta Tesla"
subtitle="Agenda una demostración de manejo hoy"
>
<div slot="footer">
    <a
        class=`border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-20`
        href="#"
    >
        Prueba de conducción
    </a>
</div>
<video
    slot="background"
    class="object-cover h-screen w-screen"
    autoplay
    muted
    loop
    src="../../public/public_video.webm"></video>
</Section>
