---
import Section from "./Section.astro";
---

<Section title="Model 3" color = "black">
    <div slot="footer" class="gap-x-6 mx-24">
        <a
            class="border-[3px] border-black bg-gray-800 text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-20 mobile:w-full mobile:mb-10"
            href="#"
        >
            Orden personalizada
        </a>
        <a
            class="border-[3px] border-white bg-white/5 text-sm rounded font-medium text-black px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-20 ml-4 mobile:w-full mobile:ml-0"
            href="#"
        >
            Demostración de manejo
        </a>
    </div>
    <img
        slot="background"
        src="/Model-3.avif"
        alt=""
        class="object-cover h-screen w-screen"
    />
</Section>