---
import Section from "./Section.astro";
---

<Section
    color="black"
    title="Energía solar y Powerwall"
    subtitle="Totalmente eléctrico"
>
    <div slot="footer" class="mx-16">
        <a
        class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-20"
        href="#"
        >
        Mas información
        </a>
    </div>
    <img
        slot="background"
        src="/Powerwall.avif"
        alt=""
        class="object-cover h-screen w-screen"
    />
</Section>
