<section
    class="landing-section charge-text-white font-gotham font-medium h-screen w-screen bg-black text-center relative"
    data-header-color = 'black'

>
    <div class="z-30 relative h-full flex flex-col">
        <h2 class="text-gray-900 pt-28 text-[40px] font-medium leading-[48px]">
            Energía Solar y Powerwall
        </h2>
        <p class="text-sm text-gray-600">Totalmente eléctrico</p>
    </div>

    <footer class="absolute bottom-0 left-0 right-0 z-40 justify-betweena">
        <div>
            <a
                class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors mb-20"
                href="#"
            >
                Mas información
            </a>
        </div>
    </footer>

    <div class="absolute top-0 bottom-0 left-0 right-0 z-0 overflow-x-hidden">
        <img
            src="/public/Powerwall.avif"
            alt=""
            class="object-cover h-screen w-screen"
        />
    </div>
</section>
